In [1]:
import pandas as pd

In [8]:
csv = pd.read_table("ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt", delim_whitespace=True, comment='#', header=None)

/Users/lhinkesjones/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [47]:
df = csv.copy()

In [22]:
df.iloc[0,:]

0    1958.000
1       3.000
2    1958.208
3     315.710
4     315.710
5     314.620
6      -1.000
Name: 0, dtype: float64

In [49]:
import numpy as np
for i,row in df.iterrows():
    if row[3] == -99.99: df.iloc[i,3] = np.nan

In [50]:
df.head(n=100)

       0   1         2       3       4       5  6
0   1958   3  1958.208  315.71  315.71  314.62 -1
1   1958   4  1958.292  317.45  317.45  315.29 -1
2   1958   5  1958.375  317.50  317.50  314.71 -1
3   1958   6  1958.458     NaN  317.10  314.85 -1
4   1958   7  1958.542  315.86  315.86  314.98 -1
5   1958   8  1958.625  314.93  314.93  315.94 -1
6   1958   9  1958.708  313.20  313.20  315.91 -1
7   1958  10  1958.792     NaN  312.66  315.61 -1
8   1958  11  1958.875  313.33  313.33  315.31 -1
9   1958  12  1958.958  314.67  314.67  315.61 -1
10  1959   1  1959.042  315.62  315.62  315.70 -1
11  1959   2  1959.125  316.38  316.38  315.88 -1
12  1959   3  1959.208  316.71  316.71  315.62 -1
13  1959   4  1959.292  317.72  317.72  315.56 -1
14  1959   5  1959.375  318.29  318.29  315.50 -1
15  1959   6  1959.458  318.15  318.15  315.92 -1
16  1959   7  1959.542  316.54  316.54  315.66 -1
17  1959   8  1959.625  314.80  314.80  315.81 -1
18  1959   9  1959.708  313.84  313.84  316.55 -1
19  1959  10  1959.792  313.26  313.26  316.19 -1
20  1959  11  1959.875  314.80  314.80  316.78 -1
21  1959  12  1959.958  315.58  315.58  316.52 -1
22  1960   1  1960.042  316.43  316.43  316.51 -1
23  1960   2  1960.125  316.97  316.97  316.47 -1
24  1960   3  1960.208  317.58  317.58  316.49 -1
25  1960   4  1960.292  319.02  319.02  316.86 -1
26  1960   5  1960.375  320.03  320.03  317.24 -1
27  1960   6  1960.458  319.59  319.59  317.36 -1
28  1960   7  1960.542  318.18  318.18  317.30 -1
29  1960   8  1960.625  315.91  315.91  316.92 -1
..   ...  ..       ...     ...     ...     ... ..
70  1964   1  1964.042  319.57  319.57  319.67 -1
71  1964   2  1964.125     NaN  320.07  319.61 -1
72  1964   3  1964.208     NaN  320.73  319.55 -1
73  1964   4  1964.292     NaN  321.77  319.48 -1
74  1964   5  1964.375  322.25  322.25  319.42 -1
75  1964   6  1964.458  321.89  321.89  319.69 -1
76  1964   7  1964.542  320.44  320.44  319.58 -1
77  1964   8  1964.625  318.70  318.70  319.81 -1
78  1964   9  1964.708  316.70  316.70  319.56 -1
79  1964  10  1964.792  316.79  316.79  319.78 -1
80  1964  11  1964.875  317.79  317.79  319.72 -1
81  1964  12  1964.958  318.71  318.71  319.59 -1
82  1965   1  1965.042  319.44  319.44  319.48 -1
83  1965   2  1965.125  320.44  320.44  319.97 -1
84  1965   3  1965.208  320.89  320.89  319.65 -1
85  1965   4  1965.292  322.13  322.13  319.80 -1
86  1965   5  1965.375  322.16  322.16  319.36 -1
87  1965   6  1965.458  321.87  321.87  319.65 -1
88  1965   7  1965.542  321.39  321.39  320.51 -1
89  1965   8  1965.625  318.81  318.81  319.93 -1
90  1965   9  1965.708  317.81  317.81  320.68 -1
91  1965  10  1965.792  317.30  317.30  320.36 -1
92  1965  11  1965.875  318.87  318.87  320.87 -1
93  1965  12  1965.958  319.42  319.42  320.26 -1
94  1966   1  1966.042  320.62  320.62  320.63 -1
95  1966   2  1966.125  321.59  321.59  321.10 -1
96  1966   3  1966.208  322.39  322.39  321.16 -1
97  1966   4  1966.292  323.87  323.87  321.51 -1
98  1966   5  1966.375  324.01  324.01  321.18 -1
99  1966   6  1966.458  323.75  323.75  321.52 -1

[100 rows x 7 columns]